* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

#root {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 650px;
  line-height: 1.4;
  font-size: 16px;
  color: #333;
  min-height: 100%;
}

a {
  color: inherit;
  text-decoration: inherit;
}
